body {
  font-family: "Roboto", sans-serif;
}

/*-Navigation bar styling*/

a.nav-title-styling {
  color: rgba(0, 0, 0, 0.5);
}

/*-Navigation bar styling-*/

/*-Header image styling-*/

.home-header {
  background-image: url(assets/images/tokyo-skyline-cropped.jpg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*-Header image styling-*/

/*-Jumbotron styling-*/

.jumbotron {
  background-color: transparent !important;
  padding-top: 100px;
}

.jumbotron-header {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.jumbotron-divider {
  width: 75px;
}

/*-Jumbotron styling-*/

.section-divider {
  width: 200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*Feature Styling*/

.feature-images {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: auto;
}

.feature-align {
  text-align: center;
}

.feature-align h3 {
  padding-top: 30px;
}

/*Feature Styling*/

/*Main content styling*/

.main-content-images {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Main content styling*/

/*Footer styling*/

footer {
  padding-top: 100px;
  padding-bottom: 20px;
  color: hsla(210, 10%, 23%, 0.6);
  text-align: center;
}

.footer-social-links a i {
  color: hsla(210, 10%, 23%, 0.6);
  text-decoration: none;
  background-color: transparent;
  font-size: 25px;
  padding: 0 10px;
  text-align: center;
}

/*Contact page*/

.submit-button {
  text-align: center;
}

/*Contact page*/

/*-Tablet and mobile  992px */

@media only screen and (max-width: 992px) {
  /*Header & Jumbotron*/

  .home-header {
    height: 100vh;
    background-size: cover;
    background-attachment: scroll; /*stops image scrolling on mobile*/
    background-position: center;
  }

  /*Body*/

  /*Body-index page*/

  .feature-images {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: auto;
  }

  .feature-align {
    text-align: center;
    padding-top: 30px;
  }

  /*Body-other pages*/

  .main-content-images {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*Footer*/
}
