body {
  font-family: "Roboto", sans-serif;
}

/*-Navigation bar styling*/

a.nav-title-styling {
  color: rgba(0, 0, 0, 0.5);
}

/*-Navigation bar styling-*/

/*-Header image styling-*/

.home-header {
  background-image: url(/assets/images/tokyo-skyline.jpg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*-Header image styling-*/

/*-Jumbotron styling-*/

.jumbotron {
  background-color: transparent !important;
  padding-top: 100px;
}

.jumbotron-header {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.jumbotron-divider {
  width: 75px;
}

/*-Jumbotron styling-*/

.section-divider {
  width: 200px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*Feature Styling

.feature-spacing {
  padding-top: 75px;
}
*/

.feature-images {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: auto;
}

.feature-align {
  text-align: center;
}

.feature-align h2 {
  padding-top: 30px;
}
/*Feature Styling*/

/*Footer styling*/

footer {
  padding-top: 100px;
  padding-bottom: 20px;
  color: #343a4099;
  text-align: center;
}

.footer-social-links a i {
  color: #343a4099;
  text-decoration: none;
  background-color: transparent;
  font-size: 25px;
  padding: 0 10px;
  text-align: center;
}

/*-Tablet and mobile  992px */

@media screen and (max-width: 768px) {
  .home-header {
    background-image: url(/assets/images/Mt-fuji.jpg); /*test image*/
    height: 100vh;
    background-size: cover; 
    background-attachment: scroll; /*stops image scrolling on mobile*/
    background-position: center;
  }

  .jumbotron-header {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;

  }

  .feature-align {
  text-align: center;
  padding-top: 30px;
  }

  .footer-social-links a i {
  color: #343a4099;
  text-decoration: none;
  background-color: transparent;
  font-size: 25px;
  padding: 0 10px;
  text-align: center;
}
}